* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #111;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
}

.heart {
  height: 70px;
  width: 70px;
  background-color: red;
  transform: rotate(-45deg);
  box-shadow: -10px 20px 90px red;
  animation: anyam 0.3s linear infinite;
}

.heart::before {
  height: 70px;
  width: 70px;
  background-color: red;
  top: -50%;
  position: absolute;
  border-radius: 50px;
  content: "";
}

.heart::after {
  height: 70px;
  width: 70px;
  background-color: red;
  right: -50%;
  position: absolute;
  border-radius: 50px;
  content: "";
}

@keyframes anyam {
  0% {
    transform: rotate(-45deg) scale(1.09);
  }
  50% {
    transform: rotate(-45deg) scale(1);
  }
  100% {
    transform: rotate(-45deg) scale(1.02);
  }
}
